$clr-light: #c8a2fa;
$clr-med: #8c46e8;
$clr-dark: #6d22d0;
$clr-gray100: #f0f7f8;
$clr-gray200: #cfd8dc;
$clr-gray300: #a7b7be;
$clr-gray400: #6b7e86;
$clr-gray500: #425a65;
$clr-gray600: #263238;

/*   border radius */
$radius: 0.2rem;

$animation: cubic-bezier(0.45, 0, 0.55, 1);

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2rem;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.loading-white-background{
  display: flex;
  justify-content: center;
  align-items: center;
  
  // margin-left: -2rem;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: white;
}

.loading__dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
  animation: loading 2s $animation infinite;
}

@keyframes loading {
  0%,
  100% {
    transform: translatey(-2.5rem);
    background-color: $clr-dark;
  }
  50% {
    transform: translatey(2.5rem);
    background-color: $clr-light;
  }
}

@for $i from 1 through 3 {
  .loading div:nth-child(#{$i}) {
    animation-delay: #{$i * 0.1}s;
  }
}

@keyframes loading-white-background {
  0%,
  100% {
    transform: translatey(-2.5rem);
    background-color: $clr-dark;
  }
  50% {
    transform: translatey(2.5rem);
    background-color: $clr-light;
  }
}

@for $i from 1 through 3 {
  .loading-white-background div:nth-child(#{$i}) {
    animation-delay: #{$i * 0.1}s;
  }
}