/* ************** Modal *****************/

.welcome-modal{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 60vw;
    height: auto;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
    outline: none;
}

.welcome-modal-header{
    background-color: var(--clr-primary);
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem 1rem 2rem;
}

.welcome-modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
}

.welcome-modal-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-modal-content{
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 3rem;
}

.example-btn-edit-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-btn-edit{
    position: relative;
    appearance: none;
    display: flex;
    margin: 2rem 1rem 2rem 1rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    background: #5d437e;
    cursor: pointer;
    transition: all 150ms ease;
}

.example-btn-edit::before{
    position: absolute;
    content: var(--edit-icon);
    top: 10px;
    left: 11px;
}

.welcome-btn-close{
    appearance: none;
    position: relative;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    cursor: pointer;
    transition: all 50ms ease;
}

.welcome-btn-close:hover{
    transform: scale(0.99);
    background: var(--clr-btn-secondary-hover);
}

.welcome-btn-close:active{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-active);
}

.modal-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 70vw;
    height: 90vh;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
    outline: none;
}

.btn-modal-close{
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--clr-day-ellipse-primary);
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all 500ms ease;
}

.btn-modal-close:hover{
    transform: scale(0.97);
    background: rgba(223, 223, 223, 0.25);
}

.btn-modal-close:focus{
    transform: scale(0.95);
    background: rgba(226, 225, 225, 0.324);
}

.modal-header{
    background-color: var(--clr-primary);
    color: white;
    display: flex;
    justify-content: center;
    padding: 2rem 3rem 1rem 3rem;
    margin-bottom: 1rem;
}

.btn-modal-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 100%;
    min-width: 150px;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.9rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-modal-submit:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.btn-modal-submit:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}

.btn-modal-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 100%;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.9rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-modal-primary:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.btn-modal-primary:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}

.btn-modal-primary-disabled{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 100%;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary-disabled);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.9rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-modal-primary-disabled:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-disabled-hover);
}

.btn-modal-primary-disabled:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-disabled-active);
}

.btn-modal-alt{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 50%;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-alt);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.9rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-modal-alt:hover{
    transform: scale(0.98);
    background: var(--clr-btn-alt-hover);
}

.btn-modal-alt:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}

.form-btn-group{
    display: flex;
    gap: 2rem;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 500ms ease;
    z-index: 1;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.edit-journal-label{
    color: #909398;
    margin-bottom: .8rem;
    margin-top: 2rem;
    min-width: 20rem;
}
/* ************** Modal *****************/

/* ************** Journal *****************/
.modal-edit-journal-container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    gap: 2rem;
}

.journal-content-background{
    /* background-color: var(--clr-day-ellipse-primary); */ 
}

.journal-row-container{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1rem 0;
}

.journal-row-title{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 4rem;
    width: 50px;
}

.journal-row-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    text-align: center;
}

.journal-item-background{
    margin: 1rem 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 15px 0px rgba(69,35,114,0.2);
    /* background-color: white; */
    /* color: white; */
    border-radius: 20px;
}

.gap-0{
    gap: 0;
}

.font-metropolis-08{
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
}

.consultation-duration-input{
    width: 40px;
    margin-right: 0.5rem;
}
.journal-input-number{
    width: 100%;
    max-width: 50px;
}

.btn-select-everything{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 100%;
    min-width: 150px;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-select-everything:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.btn-select-everything:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}

.modal-accordion{
    background-color: rgb(255, 255, 255);
    border: 1px solid #ECEDED;
    border-radius: 20px;
}

.modal-accordion-content{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    gap: 1rem;
    
}

.width-100{
    width: 100%;
}

.journal-preview-container{
    /* margin: 0 1rem 1rem 1rem;
    padding: 1rem; */
    background-color: var(--clr-primary);
    color: white;
    border-radius: 0 0 20px 20px;
}
/* .journal-preview{
    gap: 4rem;
} */
.AM-preview{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    gap: 1rem;
}
.lunch-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0 auto 0;
    width: 6rem;
    height: 3rem;
    border-radius: 5px;
    background: var(--clr-day-ellipse-primary);
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.PM-preview{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    gap: 1rem;
}
.journal-consultation-preview-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.journal-consultation-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    background: var(--clr-day-ellipse-primary);
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
/* ************** Journal *****************/

/* *********** New Consultation Modal ************ */

.new-consultation-form-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.container-new-consultation{
    margin-left: 3rem;
    margin-right: 3rem;
}

.vertical-separator{
    width: 1px;
    height: 50px;
    margin-top: 35px;
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, 0.492);
}

.input-rut{
    width: 80%;
}

.btn-new-consultation{
    width: 100%;
    max-width: 20%;
    display: flex;
    appearance: none;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    margin: 2.5rem 0rem 0rem 1rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-new-consultation:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.btn-new-consultation:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}



/* *********** New Consultation Modal ************ */
/* *********** Cancel Consultation Modal ************ */

.modal-delete-consultation-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 50vw;
    height: max-content;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

.modal-subscription-container{
    /* display: grid;
    grid-template-rows: auto auto; */
    position: absolute;
    width: 80vw;
    height: max-content;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 4px;

    /* background-color: #EFF3FC; */
    /* border-radius: 20px 8px 8px 20px; */
    /* box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75); */
    /* overflow-y: auto; */
    /* transition: all 500ms ease; */
}

.overlay-transparent.ReactModal__Overlay {
    background-color: transparent !important;
}

.modal-delete-consultation-container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem 0;
    row-gap: 2rem;
    margin-top: 1rem;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    color: black;
    text-align: center;
}

/* *********** Cancel Consultation Modal ************ */

/* *********** Weight/Stature Update Modal ************ */

.modal-weight-stature-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 70vw;
    height: 40vh;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

.weight-stature-container-form{
    margin-left: 3rem;
    margin-right: 3rem;
    display: grid;
    grid-template-rows: repeat(2, 5rem);
    row-gap: 1rem;
}

/* *********** Weight/Stature Update Modal ************ */

/* *********** Delete Patient Modal ************ */

.modal-delete-patient-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 50vw;
    height: 28vh;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

.modal-delete-patient-container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 1rem;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    color: black;
}

/* *********** Delete Patient Modal ************ */

/* *********** Delete Nutritionist Modal ************ */

.modal-confirm-delete-nutritionist-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 60vw;
    height: 32vh;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

.modal-confirm-delete-nutritionist-container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 1rem;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    color: black;
}

.modal-delete-nutritionist-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 60vw;
    height: 40vh;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

.modal-delete-nutritionist-container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 1rem;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    color: black;
}

/* *********** Delete Nutritionist Modal ************ */

/* *********** Talla Diana Modal ************ */

.alt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    position: relative;
    padding: 0 1rem 0;
    width: 100%;
    height: 30px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 150ms ease;
}

.alt-btn:hover{
    background: var(--clr-btn-secondary-hover);
    transform: scale(0.98);
}

.alt-btn:active{
    background: var(--clr-btn-secondary-active);
    transform: scale(0.96);
}

.modal-talla-diana-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 50vw;
    height: 42vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

/* *********** Talla Diana Modal ************ */

/* *********** Perímetro Cefálico Modal ************ */

.modal-perimetro-cefalico-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 60vw;
    height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

.modal-perimetro-cefalico-container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    gap: 2rem;
}

.modal-chart-info-container{
    display: flex;
    gap: 1rem;
    background-color: white;
    border-radius: 20px;
}

.modal-chart-info{
    padding: 0.5rem 1rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.modal-chart-container{
    height: 100%;
    min-height: 300px;
    margin: auto;
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: white;
}

.modal-chart-title{
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.modal-chart-subtitle{
    font-family: "Metropolis", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
}

.modal-chart-ref{
    padding: 0 2rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: justify;
}

.modal-chart{
    height: 100%;
    min-height: 300px;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    /* padding: 1rem 2rem 1rem 2rem; */
}

.border-radius-5{
    border-radius: 5px;
}

.flex-direction-row{
    display: flex;
    flex-direction: row;
}

.h-2{
    height: 2rem;
}
.perimetro-cefalico-info{
    display: flex;
    align-items: center;
    width: 25px;
    margin-left: 0.2rem;
    list-style: none;
    position: relative;
    z-index: 99;
}

.perimetro-cefalico-info:hover{
    transform: scale(0.96);
}

.perimetro-cefalico-info::before{
    content: attr(data-tooltip);
    width: 10rem;
    position: absolute;
    left: calc(50% - 6.5rem);
    top: 3rem;
    background: var(--clr-primary);
    color: white;
    padding: 0.6rem;
    border-radius: var(--radius);
    transition: all 150ms ease;
    opacity: 0;
    scale: 0;
    
}

.perimetro-cefalico-info::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: transparent;
    left: 0;
    top: 8rem;
    transition: all 150ms ease;
    transform: rotate(45deg);
    opacity: 0;
    scale: 0;
}

.perimetro-cefalico-info:hover::after{
    opacity: 1;
    scale: 1;
    left: 0.4rem;
    top: 2.7rem;
    background-color: var(--clr-primary);
}

.perimetro-cefalico-info:hover::before{
    opacity: 1;
    scale: 1;
    left: calc(50% - 10rem);
}

/* *********** Perímetro Cefálico Modal ************ */

/* *********** Patient Exams Modal ************ */
.modal-patient-exams-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 70vw;
    height: 90vh;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
    outline: none;
}

.patient-exams-container{
    display: grid;
    height: auto;
    width: 90%;
    max-width: 900px;
    margin: 2rem auto 2rem auto;
    background-color: var(--clr-primary);
    border-radius: 30px;
}

.patient-exams-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem 3rem 3rem ;
}

.patient-exams-item-container{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.patient-exams-title-container{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.patient-exams-title{
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.patient-exams-btn{
    appearance: none;
    position: relative;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    /* padding-left: 2.8rem; */
    margin: 0 auto 1rem auto;
    cursor: pointer;
    transition: all 150ms ease;
    white-space: nowrap;
}


.patient-exams-btn:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.patient-exams-btn:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}

/* .patient-exams-btn::before{
    position: absolute;
    content: var(--btn-add-icon);
    top: 0.4rem;
    left: 0.8rem;
} */

.patient-prev-exams-btn{
    margin: 0 1rem 0 auto;
    /* width: 200px; */
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-btn-secondary);
    border-radius: 20px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
    background-color: var(--clr-btn-secondary);
    box-shadow: var(--input-shadow);
    white-space: nowrap;
    cursor: pointer;
    transition: all 100ms ease;
}

.patient-prev-exams-btn:hover{
    transform: scale(1.01);
}

.patient-prev-exams-btn:active{
    transform: scale(0.99);
}

.exams-container{
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.9rem;
    overflow-x: auto;
}

.exam-item{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    /* border-bottom: 2px solid var(--clr-primary); */
    border-radius: 10px;
}

.exam-item:hover{
    background-color: #f6eeff;
}

.exam-item input{
    height: 25px;
    width: 16vw;
    margin-left: auto;
    margin-right: 1rem;
    padding: 0.2rem 0.4rem 0;
    border: 1px solid var(--clr-btn-secondary);
    border-radius: 5px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: black;
    text-align: center;
    box-shadow: var(--input-shadow);
}

.exam-other-item{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    /* border-bottom: 2px solid var(--clr-primary); */
    border-radius: 10px;
}

.exam-other-item:hover{
    background-color: #f6eeff;
}

.exam-other-item textarea{
    height: 100px;
    width: 100%;
    /* margin-left: auto;
    margin-right: 1rem; */
    padding: 0.2rem 0.4rem 0;
    border: 1px solid var(--clr-btn-secondary);
    border-radius: 5px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: black;
    text-align: justify;
    box-shadow: var(--input-shadow);
}

.exam-last-item{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
}

.exam-last-item input{
    height: 25px;
    width: 200px;
    margin-left: auto;
    margin-right: 1rem;
    padding: 0.2rem 0.4rem 0;
    border: 1px solid var(--clr-btn-secondary);
    border-radius: 5px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: black;
    box-shadow: var(--input-shadow);
}

.exam-submit-btn-container{
    display: flex;
    margin-left: auto;
}

.exam-submit-btn{
    width: 200px;
    margin: 1rem 1rem 0 auto;
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-btn-secondary);
    border-radius: 20px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
    background-color: var(--clr-btn-secondary);
    box-shadow: var(--input-shadow);
    cursor: pointer;
    transition: all 100ms ease;
}

.exam-submit-btn:hover{
    transform: scale(1.01);
}

.exam-submit-btn:active{
    transform: scale(0.99);
}

/* *********** Patient Exams Modal ************ */

/* *********** Patient Estadio Tanner ************ */
.modal-estadio-tanner-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 70vw;
    height: 80vh;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

/* *********** Patient Estadio Tanner ************ */

/* *********** SharePage New Consultation ************ */

.modal-new-consultation-container{
    display: grid;
    grid-template-rows: auto;
    position: absolute;
    width: 70vw;
    max-width: 800px;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

.new-consultation-container-form{
    display: grid;
    margin-left: 3rem;
    margin-right: 3rem;
    grid-template-rows: repeat(2, 5rem);
    row-gap: 1rem;
}

.new-consultation-form{
    display: flex;
    justify-content: center;
    text-wrap: wrap;
    padding-top: 1.5rem;
}

.new-consultation-label{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: black;
}

.new-consultation-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.modal-login-container{
    display: grid;
    grid-template-rows: auto;
    position: absolute;
    padding-bottom: 2rem;
    width: 70vw;
    max-width: 800px;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}
.modal-register-container{
    display: grid;
    grid-template-rows: auto;
    position: absolute;
    padding-bottom: 2rem;
    width: 70vw;
    max-width: 800px;
    height: max-content;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}
/* *********** SharePage New Consultation ************ */

@media screen and (max-width: 1080px){

    .input-text-width{
        width: 250px;
    }

    .input-text-width-w-icon{
        width: 224px;
    }
}

@media screen and (max-width: 900px){

    .input-text-width{
        width: 200px;
    }

    .input-text-width-w-icon{
        width: 174px;
    }
}
