/* ************** Modal *****************/
  
.modal-container{
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    width: 70vw;
    height: 90vh;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #EFF3FC;
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    transition: all 500ms ease;
}

.btn-modal-close{
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--clr-day-ellipse-primary);
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all 500ms ease;
}

.btn-modal-close:hover{
    transform: scale(0.97);
    background: rgba(223, 223, 223, 0.25);
}

.btn-modal-close:focus{
    transform: scale(0.95);
    background: rgba(226, 225, 225, 0.324);
}

.modal-header{
    background-color: var(--clr-primary);
    color: white;
    display: flex;
    justify-content: center;
    padding: 2rem 3rem 1rem 3rem;
    margin-bottom: 1rem;
}

.btn-modal-submit{
    appearance: none;
    width: 100%;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.9rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-modal-submit:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.btn-modal-submit:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 500ms ease;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.edit-journal-label{
    color: #909398;
    margin-bottom: .8rem;
    margin-top: 2rem;
    min-width: 20rem;
}
/* ************** Modal *****************/