/* Tailwind classes */

.min-h-screen{
  min-height: 100vh;
}
.w-full{
  width: 100%;
}
.bg-gradient-to-br-from-blue-50-to-blue-100{
  background: linear-gradient(to bottom right, #EFF6FF, #DBEAFE);
}
/* .{
  background-color: #EFF6FF; 
}
.{
  background-color: #DBEAFE; 
} */
.bg-blue-900{
  background-color: #2563EB;
}
.bg-064687{
  background-color: #064687;
}
.bg-00bf62{
  background-color: #00bf62;
}
.text-white{
  color: #ffffff;
}
.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}
.max-w-7xl{
  max-width: 80rem;
}

.grid{
  display: grid 
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
}
.space-y-6{
  gap: 1.5rem;
}
.bg-white{
  background-color: #ffffff;
}
.bg-f9fafb{
  background-color: #F9FAFB;
}
.rounded-xl{
  border-radius: 0.75rem;
}
.shadow-sm{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.font-semibold{
  font-weight: 600;
}
.text-blue-900{
  color: #1E3A8A; 
}
.text-green-900{
  color: #047857; 
}

.text-green-700{
  color: #059669; 
}
.text-green-600{
  color: #10B981; 
}

.rounded-md{
  border-radius: 0.375rem;
}
.border-gray-300{
  border-color: #D1D5DB;
}
.bg-blue-50{
  background-color: #EFF6FF;
}
.bg-green-50{
  background-color: #ECFDF5;
}
.p-3{
  padding: 0.75rem;
}
.text-blue-700{
  color: #1D4ED8; 
}
.capitalize{
  text-transform: capitalize;
}
.space-x-4{
  gap: 1rem;
}
.w-24{
  width: 6rem;
}
.text-gray-500{
  color: #6B7280; 
}
.bg-gray-50{
  background-color: #F9FAFB;
}
.text-gray-700{
  color: #374151; 
}
.space-x-3{
  gap: 0.75rem;
}
.w-16{
  width: 4rem;
}
.w-20{
  width: 5rem;
}
.text-right{
  text-align: right;
}
.mb-6{
  margin-bottom: 1.5rem;
}
.text-blue-600{
  color: #2563EB; 
}
.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.font-normal{
  font-weight: 400;
}
.border-t{
  border-top-width: 1px;
}
.border-t-gray-200{
  border-top: 1px solid #E5E7EB;
}
.pt-6{
  padding-top: 1.5rem;
}
.bg-blue-100{
  background-color: #DBEAFE;
}
.space-x-2{
  gap: 0.5rem;
}
.p-1{
  padding: 0.25rem;
}
.rounded{
  border-radius: 0.25rem; 
}
.bg-blue-200{
  background-color: #BFDBFE;
}
.bg-green-200{
  background-color: #9AE6B4;
}
.text-center{
  text-align: center;
}
.border-blue-300{
  border-color: #93C5FD;
}
.justify-end{
  justify-content: custom-flex-end;
}
.inline-flex{
  display: inline-flex;
}
.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.border{
  border-width: 1px;
}
.border-transparent{
  border-color: transparent;
}
.bg-blue-600{
  background-color: #2563EB;
}
.bg-green-600{
  background-color: #059669;
}



@media (min-width: 1024px) { 
  .grid-cols-1{
    grid-template-columns: repeat(12, minmax(0, 1fr)); 
  }  
  .col-span-5{
    grid-column: span 5 / span 5; 
  }
  .col-span-7{
    grid-column: span 7 / span 7;
  }
 }


/* Tailwind classes */

  .new-calculator-wrapper {
    max-width: 64rem;
    margin: 0 auto; /* Opcional para centrar horizontalmente */
  }
  
  .new-calculator-container {
    overflow: hidden;
    border-radius: 0 18px 18px 0;
    background-color: #ffffff;
  }
  
  .new-calculator-header {
    padding: 1.5rem;
    background-color: #064687;
  }
  
  .new-calculator-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
  }

  .new-calculator-section {
    padding: 1.5rem;
  }
  
  .new-calculator-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  
  .new-calculator-card {
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: #F9FAFB;
  }
  
  .new-calculator-card-title {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #064687;
  }
  .new-calculator-form-group {
    margin-top: 1rem;
  }
  
  .new-calculator-label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #4B5563;
  }
  
  .new-calculator-input {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #E5E7EB;
    width: 100%;
    background-color: #ffffff;
  }
  
  .new-calculator-results-container {
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: #EFF6FF;
  }
  
  .new-calculator-results-title {
    display: flex;
    margin-bottom: 1rem;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #064687;
  }
  
  .new-calculator-results-group {
    margin-top: 1rem;
  }
  
  .new-calculator-result-card {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .new-calculator-result-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .new-calculator-result-label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #4B5563;
  }
  
  .new-calculator-result-value {
    margin-top: 0.25rem;
    font-weight: 700;
    color: #064687;
    text-align: center;
  }
  
  .new-calculator-diet-type {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #2563EB;
  }

  .new-calculator-distribution-container {
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: #F9FAFB;
    grid-column: span 2; /* Abarca 2 columnas */
}
  
  .new-calculator-distribution-title {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #064687;
  }
  
  .new-calculator-distribution-group {
    margin-top: 1.5rem;
  }
  
  .new-calculator-distribution-card {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .new-calculator-distribution-row {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .new-calculator-distribution-label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .new-calculator-distribution-dot {
    border-radius: 9999px;
    width: 0.75rem;
    height: 0.75rem;
  }
  
  .new-calculator-distribution-input-container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .new-calculator-distribution-input {
    padding: 0.25rem 0.75rem;
    border: solid 1px #E5E7EB;
    border-radius: 0.5rem;
    width: 5rem;
    text-align: center;
  }
  
  .new-calculator-distribution-grams {
    width: 4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6B7280;
  }
  
  .new-calculator-distribution-bar-container {
    overflow: hidden;
    border-radius: 9999px;
    height: 0.5rem;
    background-color: #F3F4F6;
  }
  
  .new-calculator-distribution-bar {
    height: 100%;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .new-calculator-protein-bar {
    background-color: #f57c0b;
  }
  
  .new-calculator-lipid-bar {
    background-color: #f5d20b;
  }
  
  .new-calculator-cho-bar {
    background-color: #EF4444;
  }

  .new-calculator-footer-container {
    display: flex;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #e4e4e4;
  }
  
  
  
  .new-calculator-footer-select {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #e5e7eb;
    width: 100%;
    background-color: #ffffff;
  }
  
  .new-calculator-footer-buttons-container {
    display: flex;
    gap: 1rem;
  }
  
  .new-calculator-footer-button {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    color: #ffffff;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  
  .new-calculator-footer-button-calculate {
    background-color: #2563eb;
  }
  
  .new-calculator-footer-button-calculate:hover {
    background-color: #1d4ed8;
  }
  
  .new-calculator-footer-button-attach {
    background-color: #059669;
  }
  
  .new-calculator-footer-button-attach:hover {
    background-color: #047857;
  }

  @media (min-width: 640px) {
    .new-calculator-footer-select {
      width: 16rem;
    }
  }

  @media (min-width: 640px) {
    .new-calculator-footer-container {
      flex-direction: row;
    }
  }
  
  @media (min-width: 1024px) {
        .new-calculator-grid {
            grid-template-columns: repeat(3, minmax(0, 1fr)); 
        }

        .new-calculator-distribution-container {
            grid-column: span 2; /* Abarca 2 columnas en pantallas mayores a 1024px */
        }
    }
  