
.patient-secondary-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 180px;
    width: 400px;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.patient-secondary-card-title{
    padding: 1rem 1rem 1rem 1rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px 20px 0 0;
    color: white;
    background-color: var(--clr-primary);
}

.patient-secondary-card-content{
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 100%;
}

.patient-secondary-card-btn{
    display: flex;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

/* TALLA DIANA */

.talla-diana-avatar{
    padding: 1rem 0 1rem 1rem;
    height: 100px;
}

.talla-diana-measure{
    padding: 1rem 0 1rem 0.5rem;
    height: 100px;
}

.talla-diana-value{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* TALLA DIANA */

/* PERIMETRO CEFALICO */

.perimetro-cefalico-measure{
    padding: 0.5rem 0 0 0;
    height: 45px;
}

.perimetro-cefalico-avatar{
    padding: 0 0 1rem 0;
    height: 70px;
}

.perimetro-cefalico-value-container{
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    gap: 1rem;
}

.padding-left-none{
    padding-left: 0;
}

.perimetro-cefalico-value{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* PERIMETRO CEFALICO */

/* PERIMETRO CINTURA */
.perimetro-cintura-avatar-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perimetro-cintura-avatar{
    /* padding: 1rem 0 1rem 2rem; */
    height: 80px;
}

.perimetro-cintura-measure{
    position: absolute;
    width: 38px;
    top: 3.5rem;
    left: calc(50% - 1.2rem);
}

/* PERIMETRO CINTURA */

.patient-secondary-card-footer{
    padding: 0 2rem 0.8rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    color: #7b7b7b;
}


.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-column-reverse{
    display: flex;
    flex-direction: column-reverse;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.pl-1{
    padding-left: 1rem;
}
.pr-1{
    padding-right: 1rem;
}
.pl-2{
    padding-left: 2rem;
}
.pr-2{
    padding-right: 2rem;
}
.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.p-2{
    padding: 2rem;
}
.h-auto{
    height: auto;
}
.h-400{
    height: 376px;
}
.cursor-pointer{
    cursor: pointer;
}