
.patient-secondary-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 180px;
    width: 400px;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.patient-secondary-card-title{
    padding: 1rem 1rem 1rem 1rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px 20px 0 0;
    color: white;
    background-color: var(--clr-primary);
}

.patient-secondary-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 100%;
}

.patient-secondary-card-btn{
    display: flex;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

/* TALLA DIANA */

.talla-diana-avatar{
    padding: 1rem 0 1rem 1rem;
    height: 100px;
}

.talla-diana-measure{
    padding: 1rem 0 1rem 0.5rem;
    height: 100px;
}

.talla-diana-value{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* TALLA DIANA */

/* PERIMETRO CEFALICO */

.perimetro-cefalico-measure{
    padding: 0.5rem 0 0 0;
    height: 45px;
}

.perimetro-cefalico-avatar{
    padding: 0 0 1rem 0;
    height: 70px;
}

.perimetro-cefalico-value-container{
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    gap: 1rem;
}

.padding-left-none{
    padding-left: 0;
}

.perimetro-cefalico-value{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* PERIMETRO CEFALICO */

/* PERIMETRO CINTURA */
.perimetro-cintura-avatar-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perimetro-cintura-avatar{
    /* padding: 1rem 0 1rem 2rem; */
    height: 80px;
}

.perimetro-cintura-measure{
    position: absolute;
    width: 38px;
    top: 3.5rem;
    left: calc(50% - 1.2rem);
}

/* PERIMETRO CINTURA */

.patient-secondary-card-footer{
    padding: 0 2rem 0.8rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    color: #7b7b7b;
}


