@import "../../../assets/fonts/Metropolis/stylesheet.css";

*{
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --clr-graylight: #cfd8dc;
    --clr-graymed: #90a4ae;

    --radius: 10em;

    --animation-curve: cubic-bezier(0.34, 1.36, 0.2, 1);

    --background: url(../../../assets/imgs/auth/Fondo.svg);

    --google-logo: url(../../../assets/imgs/auth/google_logo.svg);

    /* --nutri-icon: url(../../imgs/auth/login/nutritionist_icon.svg); */
    --nutri-grey-icon: url(../../../assets/imgs/auth/nutritionist_icon_grey.svg);
    --nutri-icon-text: url(../../../assets/imgs/auth/nutritionist_text_and_icon.svg);
    /* --nutri-icon-text: url(../../imgs/auth/login/nutritionist_text_and_icon.svg); */
    
    /* --patient-icon: url(../../imgs/auth/login/patient_icon.svg); */
    --patient-grey-icon: url(../../../assets/imgs/auth/patient_icon_grey.svg);
    --patient-icon-text: url(../../../assets/imgs/auth/patient_text_and_icon.svg);

    --phone-code: url(../../../assets/imgs/auth/phone-code.svg);

}

body{
    margin:0;
    font-family: "Metropolis", sans-serif;

}

.wrapper-main{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 6fr 5fr;
}

.background{
    display: flex;
    align-items: center;
    background-image: var(--background);
    background-repeat: no-repeat;
}

.background-title{
    margin-left: 5vw;
    margin-right: 10vw;
    font-size: 4rem;
    font-weight: 300;
    color: white;
    text-shadow: 1px 1px 10px rgb(78, 78, 78);
}

.container{
    background-color: #EFF3FC;
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding-bottom: 3rem;
}

.container-top ul{
    /* margin-top: 2em; */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7rem;
    padding: 0;
}

.container-top ul li{
    padding-right: 3rem;
}

.container-top li:first-child{
    margin-right: auto;
    margin-left: 3rem;
}

.header{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: #000;

}

.logo{
    width: 40%;
    min-width: 200px;
}

.container-form{
    margin-left: 3rem;
    margin-right: 3rem;
    display: grid;
    grid-template-rows: repeat(4, 5rem);
    row-gap: 1rem;
}

.form-item{
    display: flex;
    flex-direction: column;
    height: 75px;
}

.input-label-container{
    display: flex;
}

.input-label{
    color: #909398;
    margin-bottom: .8rem;
    margin-top: .5rem;
}

.input-label-required{
    padding-left: 0.1rem;
    padding-top: 0.2rem;
    font-size: 1.3rem;
    color: red;
}

.input-label-required-text{
    margin-left: auto;
    color: red;
    font-size: 0.9rem;
    margin-bottom: .8rem;
}

.form-btn{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w-50{
    width: 50%;
}

.pr-8{
    padding-right: .8rem;
}

.mr-8{
    margin-right: .8rem;
}

.pl-8{
    padding-left: .8rem;
}

.ml-8{
    margin-left: .8rem;
}

.form-btn{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.form-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    color: #6d5c71;
    transition: 200ms ease all;
}

.password-reset-text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.form-link:hover{
    color: #503e54;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.link-no-decoration{
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.btn-title a{
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.btn-title{
    padding: 1rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    height: 3rem;
    width: 10rem;
    box-shadow: 1px 0px 6px 1px rgba(233,238,253,0.75);
    transition: 500ms ease all;
}

.btn-title:hover{
    background-color: #fbfbfb;
    transform:scale(0.97);
}

.btn-title:focus{
    outline: none;
    border: 1px solid rgba(163,32,211, 1);
}

.btn-submit{
    background-color: #a320d3;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
    width: 100%;
    height: 3rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 1px 0px 6px 1px rgba(233,238,253,0.75);
    transition: 500ms ease all;
}

.btn-submit:hover{
    transform:scale(0.98);
    background-color: #700b95;
}

.btn-submit:focus{
    outline: none;
    border: 1px solid rgba(163,32,211, 1);
}

.btn-google-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
    width: 100%;
    height: 3rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 1px 0px 6px 1px rgba(233,238,253,0.75);
    transition: 500ms ease all;
}

.btn-google-login:hover{
    transform: scale(0.98);
}

.btn-google-login:focus{
    outline: none;
}

.btn-google-login-img{    
    margin-right: 0.5rem;
}

.input-text-style{
    padding: 0;
    border: none;
    height: 3rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 1px 0px 6px 1px rgba(233,238,253,0.75);
    transition: 150ms all ease-in;
}

.input-text-style:focus{
    outline: none;
    border: 1px solid rgba(163,32,211, 1);
}

.input-password-container{
    display: flex;
    height: 2.4rem;
}
.input-password-style{
    padding: 0;
    border: none;
    height: 2.4rem;
    width: 90%;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 1rem;
    border-radius: 8px 0 0 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 1px 0px 6px 1px rgba(233,238,253,0.75);
    transition: 150ms all ease-in;
}

.input-password-style:focus{
    outline: none;
    border: 1px solid rgba(163,32,211, 1);
}
.input-password-visibility-style{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    height: 2.4rem;
    width: 10%;
    border-radius: 0 8px 8px 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 1px 0px 6px 1px rgba(233,238,253,0.75);
    transition: 150ms all ease-in;
    cursor: pointer;
}
.input-password-visibility-style img{
    transition: 150ms all ease-in;
}
.input-password-visibility-style:focus{
    outline: none;
    border: 1px solid rgba(163,32,211, 1);
}
.input-password-visibility-style:active img{
    transform: scale(0.85);
}

.form-switch-item{
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    position: relative;
}

.form-switch-item::before{
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    content: "Soy nutricionista";
    position: absolute;
    left: 4rem;
    top: 1.6rem;
    opacity: 1;
    color: rgb(137, 137, 137);
}

.form-switch-item-icon{
    position: relative;
}

.form-switch-item-icon::before{
    content: var(--nutri-grey-icon);
    width: 26px;
    height: 26px;
    position: absolute;
    top: 1rem;
    left: 1.8rem;
}

.form-switch-item-icon::after{
    content: var(--patient-grey-icon);
    width: 26px;
    height: 26px;
    position: absolute;
    top: 1.2rem;
    right: 10rem;
}

.form-switch-item::after{
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    content: "Soy paciente";
    position: absolute;
    right: 3rem;
    top: 1.6rem;
    opacity: 1;
    color: rgb(137, 137, 137);
}

.switch-container{
    display: flex;
    flex-direction: column;
    height: 4rem;
    border-radius: 10px;
    background: white;
    
}

.switch-container label{
    width: 45%;
    height: 2.7rem;
    border-radius: 10px;
    background: #f4f8ff;
    position: absolute;
    top: .7rem;
    left: .7rem;
    z-index: 50;
    cursor: pointer;
}

.switch-container label::before{
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    content: var(--nutri-icon-text);
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    color: black;
    transition: all 1s var(--animation-curve);
}


.switch-container label::after{
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1em;
    content: var(--patient-icon-text);
    position: absolute;
    left: 2rem;
    top: 0.7rem;
    opacity: 0;
    color: black;
    transition: all 1s var(--animation-curve);
}

#switch:checked ~ label::before{
    opacity: 0;
}

#switch:checked ~ label::after{
    opacity: 1;
}

#switch:checked ~ label{
    transform: translateX(14rem);
}

#switch ~ label{
    transition: all 700ms var(--animation-curve);
}

.switch-container input{
    display: none;
}


.input-date{

    padding-right: 0.7rem;
    box-shadow: 1px 0px 6px 1px rgba(233,238,253,0.75);
}

.select-style{
    
    outline: 0;
    box-shadow: none;
    border: 0;
    height: 75px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 1rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 0px 6px 1px rgba(233,238,253,0.75);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 150ms all ease-in;
}

.select-style:focus{
    outline: none;
    border: 1px solid rgba(163,32,211, 1);
}

.phone-code{
    position: relative;
}

.phone-code-padding{
    padding-left: 7.5rem;
}

.phone-code::before{
    height: 30px;
    width: 99px;
    background: var(--phone-code);
    position: absolute;
    display: block;
    content: '';
    top: 2.5rem;
    left: 0.7rem;
}

.login-error-message{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: rgba(255, 137, 116, 0.5);
    border: 1.5px solid #9f0000;
    border-radius: 5px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #9f0000;
}

.passwrod-change-successful-message{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: rgba(142, 255, 116, 0.5);
    border: 1.5px solid #389f00;
    border-radius: 5px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #389f00;
}

@media screen and (max-width: 1007.98px)  {
    
    .wrapper-main{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .background-title{
        margin-left: 4rem;
    }
}
