@import "../../../assets/fonts/Metropolis/stylesheet.css";

:root{

    /* Colores */
    --clr-primary: #452372;
    --clr-btn-primary: #9D8FAD;
    --clr-btn-primary-hover: #FFFFFF;
    --clr-btn-secondary: #6d22d0;
    --clr-btn-secondary-hover: #6821c6;
    --clr-btn-secondary-active: #7d37d8;
    --clr-btn-alt: #d02822;
    --clr-btn-alt-hover: #c62121;
    --clr-btn-alt-active: #d84437;
    --clr-day-ellipse-primary: rgba(164, 164, 164, 0.25);
    --clr-day-ellipse-active: rgb(255, 188, 177);
    --box-shadow: 0px 9px 15px 0px rgba(69,35,114,0.2);
    --alt-box-shadow: 0px 3px 6px 0px rgba(69, 35, 114, 0.3);
    --button-shadow: 0px 6px 10px 0px rgba(109, 34, 208,0.2);


    /* Border radius */

    --radius: 0.2rem;

    /* Font Size */

    font-size: 16px;

    /* Ellipse width */

    --ellipse-width: 3rem;

    /* Animation curve */
    --animation-curve: cubic-bezier(0.34, 1.36, 0.2, 1);

    /* Svg */    
    
    --btn-add-icon: url(../../../assets/imgs/journal/btn-add.svg);
    --btn-logout: url(../../../assets/imgs/journal/logout.svg);
    --btn-refresh: url(../../../assets/imgs/patient/refresh_icon.svg);
    --time-icon: url(../../../assets/imgs/journal/time.svg);
    --edit-icon: url(../../../assets/imgs/journal/edit.svg);
    --save-icon: url(../../../assets/imgs/patient/save.svg);
    --empty-bg: url(../../../assets/imgs/journal/empty-background.svg);
    --food-bg: url(../../../assets/imgs/background/pattern_base.svg);
    --food-wo-bg: url(../../../assets/imgs/background/pattern_base_without_bg.svg);
    
    
    --dropdown-arrow: url(../../../assets/imgs/patient/dropdown_arrow.svg);
    --arrow-dropdown: url(../../../assets/imgs/patient/arrow_drop_down.svg);
    --weight-icon: url(../../../assets/imgs/patient/weight_icon.svg);
    --stature-icon: url(../../../assets/imgs/patient/stature_icon.svg);
    --age-icon: url(../../../assets/imgs/patient/age_icon.svg);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #e6d4fe var(--clr-day-ellipse-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 10px;
height: 6px;
}

*::-webkit-scrollbar-track {
background: #d9c3f8;
border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
background-color: #6D22D0;
border-radius: 10px;
border: 0px none #ffffff;
}

body{
    font-family: "Metropolis", sans-serif;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 5rem auto; */
}

.main-content{
    display: grid;
    grid-template-rows: 1fr auto;
    margin: -40px 0 0 -40px;
    padding: 40px 0 0 80px;
    background-color: #F8F2FF;
    background-image: var(--food-wo-bg);
    background-size: 13rem;
}

.main{
    height: max-content;
    margin: -1rem 0 0 4rem;
    padding: 1rem 0 15rem 3rem;
    background-color: #F8F2FF;
    /* background-color: #fcf9ff; */
    background-image: var(--food-wo-bg);
    background-size: 13rem;
}



/* ************* Nutritionist Page ************** */

.main-welcome{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    margin: 1rem 3rem 0 2rem;
    padding: 1rem 2rem 1rem 1rem;
    /* border: solid 2px var(--clr-primary);     */
    border-radius: 20px;
    /* background-color: #F8F2FF; */
    background-color: #452372;
    /* background-color: white; */
    color: white;
    /* box-shadow: 0 0 25px 25px #F8F2FF; */
    /* box-shadow: 0 0 25px 25px #F8F2FF; */
}

.sub-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2.5rem;
    color: white;
}

.logout{
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
.btn-logout{
    appearance: none;
    position: relative;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.9rem;
    padding-left: 2.8rem;
    margin-left: auto;
    margin-right: 3rem;
    cursor: pointer;
    transition: all 150ms ease;
    box-shadow: var(--alt-box-shadow);
}

.btn-logout:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.btn-logout:active{
    /* transform: scale(0.96); */
    background: var(--clr-btn-secondary-active);
}

.btn-logout::before{
    position: absolute;
    content: var(--btn-logout);
    top: 0.5rem;
    left: 0.8rem;
}

.btn-spontaneous{
    appearance: none;
    position: relative;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.9rem;
    padding-left: 2.8rem;
    margin-left: auto;
    margin-right: 3rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-spontaneous:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.btn-spontaneous:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}

.btn-spontaneous::before{
    position: absolute;
    content: var(--btn-add-icon);
    top: 0.4rem;
    left: 0.8rem;
}

/* *********** Journal ************ */

.journal{
    display: grid;
    height: auto;
    margin: 2rem 3rem 2rem 2rem;
    background-color: var(--clr-primary);
    border-radius: 30px;
}

.month-days{
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    margin: 2rem 3rem 1rem;
    padding-bottom: 1rem;
    overflow-x: scroll;
}

.day{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-ellipse{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--clr-day-ellipse-primary);
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}


.day-label{
    margin-top: 0.4rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
}

.month-label{
    margin-bottom: 0.5rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
}

.month-line{
    height: 2px;
    background-color: #55367F;
    margin: 0 3rem;

}

.today{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 2rem 3rem;
}

.today-label{
    font-family: "Metropolis", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}

.patient-number{
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #D7CAEA;
}

.today-consultations{
    display: flex;
    flex-direction: column;
}

.time{
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin: 0 3rem;
    align-items: center;
}

.hour-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 60px;
}
.hour{
    margin-left: auto;
    margin-right: 1rem;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}
.ampm{
    margin-left: auto;
    margin-right: 1rem;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #7E6B98;
}

.hr{
    height: 2px;
    background-color: #55367F;
}

.consultation-wrapper{
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin: 0 3rem;
}

.consultation-info-container{
    position: relative;
}

.consultation-info{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.consultation-action-delete{
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-left: auto;
}

.avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem; 
    height: 3rem;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    background: #627CE7;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}


.patient-name{
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    text-align: center;
    /* font-weight: 500; */
    font-weight: 500;
}

.patient-gender{
    margin: 1rem 0 0;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;
    /* font-weight: 500; */
}

.consultation-hour{
    position: relative;
    margin-left: 1.5rem;
    margin-top: 0.6rem;
    font-family: "Metropolis", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #676161;
}

.consultation-hour::before{
    position: absolute;
    top: -0.1rem;
    left: -1.5rem;
    content: var(--time-icon);
}

.empty-consultation{
    background: var(--empty-bg);
    cursor: pointer;
    transition: all 150ms ease;
}

.empty-consultation-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.btn-edit{
    position: relative;
    appearance: none;
    display: flex;
    margin: 1rem 3rem 2rem auto ;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    background: rgba(164, 164, 164, 0.25);
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-edit::before{
    position: absolute;
    content: var(--edit-icon);
    top: 10px;
    left: 11px;
}

.btn-edit:hover{
    transform: scale(0.97);
    background: rgba(213, 213, 213, 0.4);
}

.btn-edit:active{
    transform: scale(0.94);
    background: rgba(213, 213, 213, 0.2);
}
/* *********** Journal ************ */
/* *********** My Patients ************ */
.main-patient-list{
    display: grid;
    height: auto;
    margin: 2rem 3rem 0 2rem;
    background-color: var(--clr-primary);
    border-radius: 30px;
}

.patients-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 2rem 2rem ;
}


.patient-info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.patient-item-container{
    display: flex;
}

.patient-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 2rem;;
    padding: 1rem 0 1rem 1rem;
    background-color: white;
    color: black;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
    text-decoration: none;
}

.my-patients-patient-name{

    display: flex;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
}

.my-patients-patient-info{
    margin-right: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.my-patients-patient-info > div:first-child{
    margin-right: auto;
    margin-left: 2rem;
}

.journal-patient-info{
    margin-top: 0.4rem;
}

.my-patients-info-container{
    display: flex;
    gap: 1rem;
    
}

.my-patients-info-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.my-patients-info-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;;
    padding: 1rem 2rem 1rem 1rem;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 0 50px 50px 0;
    padding-left: 1rem;
    border-left: 1px solid grey;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.my-patients-info-rut{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: fit-content;
    height: 2rem;
    padding: 0.5rem;
    background-color: #ff7686;
    border-radius: 10px;
    color: white;
}

.my-patients-info-city{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: fit-content;
    height: 2rem;
    padding: 0.5rem;
    background-color: #5EC151;
    border-radius: 10px;
    color: white;
}

.my-patients-info-region{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: fit-content;
    height: 2rem;
    padding: 0.5rem;
    background-color: #5192C1;
    border-radius: 10px;
    color: white;
}

.btn-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: fit-content;
    height: 2rem;
    padding: 0.8rem;
    background-color: #ca3535;
    appearance: none;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 100ms;
}

.btn-delete:hover{
    background-color: #d64242;
    transform: scale(0.98);
}

.no-patients{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;;
    padding: 1rem;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
}

/* *********** My Patients ************ */

/* ************* Nutritionist Page ************** */

/* ************* Patient card ************** */

/* ************* Patient info ************** */
.patient-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.patient-navbar{
    display: flex;
}

.patient-consultation-time-container{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: var(--clr-primary);
    color: white;
    box-shadow: var(--alt-box-shadow);
}

.patient-consultation-time{
    margin-top: 0.2rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
}

.patient-primary-card-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.patient-primary-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.patient-secondary-card-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.patient-alt-buttons{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-top: 3.5rem;
    gap: 2rem;
}

.form-style{
    display: flex;
}

.patient-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 220px;
    /* height: 210px; */
    padding: 2rem 1rem 1rem;
    background-color: var(--clr-primary);
    border-radius: 20px 0px 0px 20px;
    color: white;
    /* border-right: 1px solid #ECEDED; */
    /* border-radius: 20px 0px 0px 20px; */
    /* background-image: linear-gradient(to left bottom, #ffc6ff, #ffc3ec, #ffc2da, #ffc3cc, #ffc5c1); */

}

.patient-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid white;
    /* background: #627CE7; */
    background: white;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
}

/* ************* Patient info ************** */

.patient-info-container{
    display: flex;
    flex-direction: column;
}

.patient-info-first-half-container{
    display: flex;
    border-bottom: 2px solid #ECEDED;
}
.patient-info-second-half-container{
    display: flex;
}

.patient-parameter-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0.7rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    color: #7b7b7b;
}

.patient-parameter-icon{
    max-height: 25px;
}

.patient-parameter-value-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.patient-parameter-value{
    border: none;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: var(--clr-primary);
}

.patient-parameter-unit{
    
    padding-left: 0.3rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: var(--clr-primary);
}

/* **************** Patient weight ****************** */

.patient-weight{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px;
    height: 100%;
    padding: 2rem 0 1rem 2rem;
    border-right: 1px solid #ECEDED; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5rem;
    width: 200px;
    border-right: 2px solid #ECEDED;
    /* padding: 0 1rem; */
}

.weight-icon{
    position: relative;
    width: 43px;
    height: 43px;
}

.weight-icon svg{
    padding-bottom: 0;
    padding-bottom: 0.4rem;
}


.weight{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.update-values-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 2rem;
}

.weight-update-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    position: relative;
    width: 25%;
    height: 30px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 150ms ease;
}

.weight-update-btn:hover{
    background: var(--clr-btn-secondary-hover);
    transform: scale(0.98);
}

.weight-update-btn:active{
    background: var(--clr-btn-secondary-active);
    transform: scale(0.96);
}

/* .weight-update-btn::before{
    content: attr(data-tooltip);
    position: absolute;
    left: -1.5rem;
    top: calc(50% + 1rem);
    background: var(--clr-primary);
    color: white;
    padding: 0.6rem;
    border-radius: var(--radius);
    transition: all 150ms ease;
    opacity: 0;
    scale: 0;
    
}

.weight-update-btn::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: transparent;
    left: 0.6rem;
    top: 2.5rem;
    transition: all 150ms ease;
    transform: rotate(45deg);
    opacity: 0;
    scale: 0;
}

.weight-update-btn:hover::after{
    opacity: 1;
    scale: 1;
    top: calc(50% + 1.7rem);
    background-color: var(--clr-primary);
}

.weight-update-btn:hover::before{
    opacity: 1;
    scale: 1;
    top: calc(50% + 2rem);
} */

/* **************** Patient weight ****************** */

/* **************** Patient stature ****************** */

.patient-stature{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px;
    height: 100%;
    padding: 2rem 0 1rem 2rem;
    border-right: 1px solid #ECEDED; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5rem;
    width: 200px;
    /* padding: 1rem; */
}

.stature-icon{
    position: relative;
    width: 43px;
    height: 43px;
}

.stature-icon svg{
    padding-bottom: 0;
    padding-bottom: 0.4rem;
}

.stature{
    display: flex;
    align-items: flex-end;
    margin-top: 0.7rem;
}

.stature-update-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    position: relative;
    width: 30px;
    height: 30px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 150ms ease;
}

.stature-update-btn:hover{
    background: var(--clr-btn-secondary-hover);
}

.stature-update-btn:active{
    background: var(--clr-btn-secondary-active);
}

.stature-update-btn::before{
    content: attr(data-tooltip);
    position: absolute;
    left: -1.5rem;
    top: calc(50% + 1rem);
    background: var(--clr-primary);
    color: white;
    padding: 0.6rem;
    border-radius: var(--radius);
    transition: all 150ms ease;
    opacity: 0;
    scale: 0;
    
}

.stature-update-btn::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: transparent;
    left: 0.6rem;
    top: 2.5rem;
    transition: all 150ms ease;
    transform: rotate(45deg);
    opacity: 0;
    scale: 0;
}

.stature-update-btn:hover::after{
    opacity: 1;
    scale: 1;
    top: calc(50% + 1.7rem);
    background-color: var(--clr-primary);
}

.stature-update-btn:hover::before{
    opacity: 1;
    scale: 1;
    top: calc(50% + 2rem);
}

/* **************** Patient stature ****************** */
/* **************** Patient age ****************** */

.patient-age-container{
    display: flex;
}

.patient-age{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem 1rem 1rem 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    padding-bottom: 1rem;
    /* padding: 1rem; */
    border-right: 2px solid #ECEDED;
}

.patient-corrected-age{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem 1.5rem 1rem 2rem;
    border-left: 1px solid #ECEDED; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
    width: 200px;
    /* padding: 1rem; */
}

.age-icon{
    position: relative;
    width: 43px;
    height: 43px;
}

.age-icon svg{
    padding-bottom: 0;
    padding-bottom: 0.4rem;
}

.age{
    display: flex;
    align-items: flex-end;
    margin-top: 0.7rem;
}

/* **************** Patient age ****************** */
/* **************** Alt Buttons ****************** */


.alt-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    min-width: 200px;
}




.alt-button-result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    padding: 1.4rem 0 0.5rem;
    width: 100%;
    /* border: 1px solid #ECEDED; */
    border-radius: 0 0 15px 15px;
    background-color: white;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #452372;
    text-align: center;
}

.alt-button-info{
    margin-left: 0.2rem;
    list-style: none;
    position: relative;
    width: 20px;
    height: 20px;
}

.alt-button-info:hover{
    transform: scale(0.96);
}

.alt-button-info::before{
    content: attr(data-tooltip);
    width: 8rem;
    position: absolute;
    left: calc(50% + 3.5rem);
    top: -0.35rem;
    background: var(--clr-primary);
    color: white;
    padding: 0.6rem;
    border-radius: var(--radius);
    transition: all 150ms ease;
    opacity: 0;
    scale: 0;
    
}

.alt-button-info::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: transparent;
    left: calc(50% + 5.5rem);
    top: 0.35rem;
    transition: all 150ms ease;
    transform: rotate(45deg);
    opacity: 0;
    scale: 0;
}

.alt-button-info:hover::after{
    opacity: 1;
    scale: 1;
    left: calc(50% + 1.4rem);
    background-color: var(--clr-primary);
}

.alt-button-info:hover::before{
    opacity: 1;
    scale: 1;
    left: calc(50% + 1.7rem);
}

.talla-diana-btn-patient{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    position: relative;
    padding: 0 1rem 0;
    width: 100%;
    height: 30px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
}

.perimetro-cefalico-btn-patient{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    position: relative;
    padding: 0 1rem 0;
    width: 100%;
    height: 30px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
}

/* **************** Alt Buttons ****************** */
/* ************* Patient card ************** */

.accordion-container{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 4rem;
    margin: 3rem;
}

.accordion{
    background-color: rgb(255, 255, 255);
    border: 1px solid #ECEDED;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.accordion-label{
    position: relative;
    display: block;
    background-color: var(--clr-primary);
    border-radius: 20px;
    padding: 1.2rem 2rem;
    font-family: "Metropolis", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    transition: all 150ms ease;
    cursor: pointer;
}

.accordion-label::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0.8rem;
    right: 20px;
    background-image: var(--arrow-dropdown);
    transition: all 150ms ease;
}

.accordion-content{
    /* padding: 0rem 2rem; */
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 150ms ease;
}

.accordion-input{
    display: none;
}

.accordion-input:checked ~ .accordion-content{
    opacity: 1;
    height: auto;
    /* padding: 1.2rem 2rem; */
}

.accordion-input:checked ~ .accordion-label::after{
    transform: rotate(180deg);
}

.accordion-input:checked ~ .accordion-label{
    
    border-radius: 20px 20px 0px 0px;
}

.input-text-patient-page{
    width: 100%;
    height: 100%;
    min-height: 350px;
    padding: 1rem 1rem 0 0;
    border: none;
    height: 3rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-left: 1rem;
    border-radius: 0 0 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 1px 0px 6px 1px rgba(233,238,253,0.75);
    transition: 150ms all ease-in;
}

.h-50{
    min-height: 175px;
}

.canvas{
    position: relative;
    height: 100%;
    min-height: 300px;
    margin: auto;
    width: 43vw;
    padding: 1rem 0 1rem 0;
    /* padding: 0.5rem 1.5rem 1.5rem 1.5rem; */
}

.input-text-patient-page:focus{
    outline: none;
    border: 1px solid rgba(163,32,211, 1);
}

.btn-save-changes{
    position: relative;
    appearance: none;
    display: flex;
    margin: 1rem 1rem 1rem auto ;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    background: var(--clr-btn-secondary);
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-save-changes::before{
    position: absolute;
    content: var(--save-icon);
    top: 12px;
    left: 13px;
}

.btn-save-changes:hover{
    transform: scale(0.97);
    background: var(--clr-btn-secondary-hover);
}

.btn-save-changes:active{
    transform: scale(0.94);
    background: var(--clr-btn-secondary-active);
}

/* **************** Patient chart ****************** */

.calification-wrapper{
    display: flex;
    margin: 1.5rem 3.5rem 0.5rem 2rem;

}
.calification-indicator-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.show-reference-chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 0.5rem 0;
}

.calification-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.calification-indicator-chart{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.3rem 0.3rem 0.3rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: #FFF3F1;
    color: #FF8976;
    border-radius: 10px;
}

.btn-show-reference-chart{
    appearance: none;
    border: none;
    color: white;
    background: var(--clr-btn-secondary);
    cursor: pointer;
    border-radius: 15px;
    transition: all 150ms ease;
}

.btn-show-reference-chart:hover{
    transform: scale(0.97);
    background: var(--clr-btn-secondary-hover);
}

.btn-show-reference-chart:active{
    transform: scale(0.94);
    background: var(--clr-btn-secondary-active);
}

.btn-reference-title{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.reference-chart-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.reference-chart-title{
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.charts-switch-container{
    display: flex;
    justify-content: center;
}

.charts-switch-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.8rem;
    width: fit-content;
    flex-wrap: wrap;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px #EFF3FD;
}

.charts-switch-btn-active{
    margin: 0 0.2rem;
    padding: 0.3rem 0.6rem;
    width: fit-content;
    background-color: #F7F9FC;
    border: none;
    border-radius: 10px;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.charts-switch-btn{
    margin: 0 0.2rem;
    padding: 0.3rem 0.6rem;
    width: fit-content;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #a0a0a0;
    cursor: pointer;
    transition: all 150ms ease;
}

.charts-switch-btn:hover{
    background-color: #F7F9FC;
}


/* **************** Patient chart ****************** */
/* **************** Settings page ****************** */

.settings-container{
    display: grid;
    height: auto;
    margin: 2rem 3rem 2rem 2rem;
    background-color: var(--clr-primary);
    border-radius: 30px;
}

.settings-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem 3rem 3rem ;
}

.settings-item-container{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.settings-item-title{
    margin-bottom: 2rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

.settings-options-container{
    display: flex;
    justify-content: flex-start;
    padding: 1rem 1.5rem;
    border: 2px solid #55367F;
    border-radius: 10px;
}

.settings-option-info{
    margin-right: auto;
}

.settings-option-title{
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
}

.settings-option-description{
    margin-top: 1rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
}

.settings-option-action{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* **************** Settings page ****************** */

