@import "../../../assets/fonts/Metropolis/stylesheet.css";

:root{

    /* Colores */
    --clr-primary: #452372;
    --clr-btn-primary: #9D8FAD;
    --clr-btn-primary-hover: #FFFFFF;
    --clr-btn-secondary: #6D22D0;
    --clr-btn-secondary-hover: #6821c6;
    --clr-btn-secondary-active: #7d37d8;
    --clr-day-ellipse-primary: rgba(164, 164, 164, 0.25);
    --clr-day-ellipse-active: #FFBCB1;

    /* Border radius */

    --radius: 0.2rem;

    /* Font Size */

    font-size: 16px;

    /* Ellipse width */

    --ellipse-width: 3rem;

    /* Animation curve */
    --animation-curve: cubic-bezier(0.34, 1.36, 0.2, 1);

    /* Svg */    
    
    --btn-add-icon: url(../../../assets/imgs/journal/btn-add.svg);
    --time-icon: url(../../../assets/imgs/journal/time.svg);
    --edit-icon: url(../../../assets/imgs/journal/edit.svg);
    --empty-bg: url(../../../assets/imgs/journal/empty-background.svg);
    
    --arrow-dropdown: url(../../../assets/imgs/patient/arrow_drop_down.svg);
    --weight-icon: url(../../../assets/imgs/patient/weight_icon.svg);
    --stature-icon: url(../../../assets/imgs/patient/stature_icon.svg);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Metropolis", sans-serif;
}

.content-wrapper{
    display: grid;
    grid-template-columns: 120px auto;
}

.main-content{
    display: grid;
    grid-template-rows: 1fr auto;
}



/* ************* Nutritionist Page ************** */

.main-welcome{
    margin-top: 3rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.next-consultation{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
    margin-top: 3rem;
}

.btn-spontaneous{
    appearance: none;
    position: relative;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.9rem;
    padding-left: 2.8rem;
    margin-left: auto;
    margin-right: 3rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-spontaneous:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.btn-spontaneous:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}

.btn-spontaneous::before{
    position: absolute;
    content: var(--btn-add-icon);
    top: 0.4rem;
    left: 0.8rem;
}

/* *********** Journal ************ */

.journal{
    display: grid;
    height: auto;
    margin: 2rem 3rem 2rem 2rem;
    background-color: var(--clr-primary);
    border-radius: 30px;
}

.month-days{
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    margin: 2rem 3rem 1rem;
}

.day{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-ellipse{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--clr-day-ellipse-primary);
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}


.day-label{
    margin-top: 0.4rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
}

.month-line{
    height: 2px;
    background-color: #55367F;
    margin: 0 3rem;

}

.today{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 2rem 3rem;
}

.today-label{
    font-family: "Metropolis", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}

.patient-number{
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #D7CAEA;
}

.today-consultations{
    display: flex;
    flex-direction: column;
}

.time{
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin: 0 3rem;
    align-items: center;
}

.hour-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 60px;
}
.hour{
    margin-left: auto;
    margin-right: 1rem;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}
.ampm{
    margin-left: auto;
    margin-right: 1rem;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #7E6B98;
}

.hr{
    height: 2px;
    background-color: #55367F;
}

.consultation-wrapper{
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin: 0 3rem;
}

.consultation-info{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #627CE7;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.patient-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.patient-name{
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.consultation-hour{
    position: relative;
    margin-left: 1.5rem;
    margin-top: 0.4rem;
    font-family: "Metropolis", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #676161;
}

.consultation-hour::before{
    position: absolute;
    top: -0.1rem;
    left: -1.5rem;
    content: var(--time-icon);
}

.empty-consultation{
    background: var(--empty-bg);
    cursor: pointer;
    transition: all 150ms ease;
}

.empty-consultation-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.btn-edit{
    position: relative;
    appearance: none;
    display: flex;
    margin: 1rem 3rem 2rem auto ;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    background: rgba(164, 164, 164, 0.25);
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-edit::before{
    position: absolute;
    content: var(--edit-icon);
    top: 10px;
    left: 11px;
}

.btn-edit:hover{
    transform: scale(0.97);
    background: rgba(213, 213, 213, 0.4);
}

.btn-edit:active{
    transform: scale(0.94);
    background: rgba(213, 213, 213, 0.2);
}
/* *********** Journal ************ */

/* ************* Nutritionist Page ************** */

/* ************* Patient card ************** */

/* ************* Patient info ************** */
.patient-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin: 4rem auto 1rem;
    border: 1px solid #ECEDED;
    border-radius: 20px;
}

.patient-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    border-right: 1px solid #ECEDED;
    border-radius: 20px 0px 0px 20px;
    background-image: linear-gradient(to left bottom, #ffc6ff, #ffc3ec, #ffc2da, #ffc3cc, #ffc5c1);

}

.patient-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid white;
    background: #627CE7;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
}

.patient-name{
    margin-top: 0.8rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.patient-consultation-time{
    margin-top: 0.2rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

/* ************* Patient info ************** */

/* **************** Patient weight ****************** */

.patient-weight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 4rem 0 2rem;
    border-right: 1px solid #ECEDED;
}

.weight-icon{
    position: relative;
    width: 43px;
    height: 43px;
}

.weight-icon svg{
    margin-top: 0.3rem;
    padding-bottom: 0;
    padding-bottom: 0.4rem;
}

.weight-title{
    margin-top: 0.8rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.weight{
    display: flex;
    align-items: flex-end;
    margin-top: 0.7rem;
}
.weight-value{
    font-family: "Metropolis", sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
}

.weight-kg{
    margin: 0.3rem 0.3rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* **************** Patient weight ****************** */

/* **************** Patient stature ****************** */

.patient-stature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 4rem 0 2rem;
}

.stature-icon{
    position: relative;
    width: 43px;
    height: 43px;
}

.stature-icon svg{
    margin-top: 0.3rem;
    padding-bottom: 0;
    padding-bottom: 0.4rem;
}

.stature-title{
    margin-top: 0.8rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.stature{
    display: flex;
    align-items: flex-end;
    margin-top: 0.7rem;
}
.stature-value{
    font-family: "Metropolis", sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
}

.stature-cm{
    margin: 0.3rem 0.3rem;
    font-family: "Metropolis", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* **************** Patient stature ****************** */

/* ************* Patient card ************** */

.accordion-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 3rem;
}

.accordion{
    background-color: rgb(255, 255, 255);
    border: 1px solid #ECEDED;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.accordion-label{
    position: relative;
    display: block;
    background-color: var(--clr-primary);
    border-radius: 20px;
    padding: 1.2rem 2rem;
    font-family: "Metropolis", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    transition: all 150ms ease;
    cursor: pointer;
}

.accordion-label::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0.8rem;
    right: 20px;
    background-image: var(--arrow-dropdown);
    transition: all 150ms ease;
}

.accordion-content{
    padding: 0rem 2rem;
    font-family: "Metropolis", sans-serif;
    font-size: 1rem;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 150ms ease;
}

.accordion-input{
    display: none;
}

.accordion-input:checked ~ .accordion-content{
    opacity: 1;
    height: auto;
    padding: 1.2rem 2rem;
}

.accordion-input:checked ~ .accordion-label::after{
    transform: rotate(180deg);
}

.accordion-input:checked ~ .accordion-label{
    
    border-radius: 20px 20px 0px 0px;
}

